@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
.main-nav{
    
    height: 66px;
    margin: 50px 200px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.logo{
    color: rgba(253, 111, 0, 1);
    font-size: 38px;
    font-weight: 700;
}
.menu{
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
    color: white;

}
.menu p{
    padding: 16px 30px;
}
body{
    background-color: rgba(30, 30, 30, 1);
}
.cv{
    background-color: rgba(253, 111, 0, 1);
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.banner-inf h1 {
    color: white;
    font-size: 40px;
    font-weight: 800;   
    text-transform: uppercase;
    line-height: 60px;
}
.banner-inf h1 svg{
    height: 28px;
    width: 31px;
    color: rgba(253, 133, 58, 1);
    padding: 0px 20px;
}
.banner-inf p{
    color: white;
    font-size: 18px;
    padding: 20px 0px;
    line-height: 30px;
}
.banner-key{
    display: flex;
    margin: 10px 0px;

}
.banner-key h2{
    color: white;
    font-size: 28px;
    font-weight: 350;
}
.banner-key svg{
    height: 28px;
    width: 31px;
    color: rgba(253, 133, 58, 1);
    padding: 0px 20px;
}

.banner-button{
    display: flex;
    justify-content: space-between;
    width: 370px;
    background-color: rgb(64, 67, 70);
    border-radius: 50px;
    color: white;
    padding: 10px 10px;
    margin: 30px 0px;
}
.banner-button h2{
    font-size: 25px;
    font-weight: 400;
}
.banner-portfolio{
    display: flex;
    padding: 10px 20px;
    background-color: rgba(253, 111, 0, 1);
    border-radius: 50px;
}
.banner-portfolio svg{
    height: 28px;
    width: 31px;
    color: rgb(255, 255, 255);
}
.hire-me{
    padding: 10px 20px;
}
.social-icon{
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 20px;
    font-size: 32px;
}
.banner-img img{
    height: 550px;
    width: 500px;
}
.banner-footer{
    width: 100%;
    background-color: black;
    transform: rotate(-5deg);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    margin-bottom: 160px;
}
.banner-footer svg{
    height: 28px;
    width: 31px;
    color: rgb(64, 67, 70);
    padding: 0px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin: 80px 200px;
    
}
.about-me h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.about-me p{
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
}
.star{
    display: flex;
}
.star svg{
    height: 28px;
    width: 31px;
    color: rgba(253, 133, 58, 1);
}
.exp h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

}
.exp p{
    color: white;
    font-size: 18px;
    line-height: 25px;
}
.exp-details{
    background-color: rgb(55, 45, 37);   
}
.experience{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 150px 0px;
}
.my-exp h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.my-exp p{
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
}
.exp-1{
    padding: 20px 0px;
    border-bottom: 1px solid rgb(92, 86, 86);

}
.exp-1 h1{
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.exp-y{
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}
.exp-y p{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.awards{
    margin: 150px 200px;
}
.award h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
.award p{
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
    text-align: center;
}
.award-1{
    background-color: black;
    color: white;
    margin: 25px 0px;
    padding: 60px;
}
.app-design{
    display: flex;
    justify-content: space-between;
}
.app-design h2{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}
.app-design p{
    font-size: 18px;
    font-weight: 700;
}
.my-portfolio{
    margin: 0px 200px;
}
.my-port h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
.my-port p{
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
    text-align: center;
}
.projects{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    padding: 30px 150px;

}
.projects p{
    padding: 16px 35px;
}
.design{
    background-color: black;
}
.web-design{
    background-color: rgba(253, 111, 0, 1);
}
.project-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0px;
}
.project-tittle{
    padding-top: 80px;
    padding-bottom: 50px;
}
.project-tittle h1{
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.project-tittle p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 30px;
}
.contact{
    margin: 150px 200px;
}
.contact h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0px;
}
.contact-me{
    background-color: rgba(253, 111, 0, 0.1);
    padding: 40px 80px;
    color: white;
}
.contact-me h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-form{
    display: flex;
    justify-content: space-between;
}
.contact-form p{
    width: 45%;
}
.contact-me p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);

}
.attach{
    display: flex;
    gap: 10px;
    padding-top: 15px;
}
.attach svg{
    height: 20px;
    width: 20px;
}
.submit-btn button{
    color: white;
    background-color: rgba(253, 111, 0, 1);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    margin-top: 40px;

}
.footer-desc{
    background-color: black;
}
.foot-bar h1 {
    text-align: center;
    padding-top: 90px;
}
.foot-menu{
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    justify-content: center;
    padding: 60px 0px;
}
.social-icon-footer{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 32px;
    padding-bottom: 60px;
}
.footer-credit{
    text-align: center;
    background-color: rgb(37, 41, 41);
}
.footer-credit p{
    padding: 30px 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (min-width : 200px) and (max-width : 576px) {
    .menu{
        font-size: 21px;
    }
    .logo{
        font-size: 21px;
    }
    .banner-inf h1 {
        font-size: 26px;
        line-height: 33px;
}
.main-nav{
    margin: 50px 50px;
}
.banner{
    margin: 50px 50px;
}
.banner-footer{
    display: none;
}
.about{
    margin: 50px 50px;
    flex-direction: column;
}
.about-me h1{
    font-size: 25px;
}
.banner-inf h1 {
    font-size: 15px;
    line-height: 17px;
}
.exp h1{
    font-size: 27px;
}
.exp p {
    font-size: 18px;
    line-height: 17px;
}
.exp{
    padding-top: 20px;
}
.experience{
    flex-direction: column;
    margin: 0px 50px;
    padding: 31px 36px;
}
.awards{
    margin: 50px 50px;
}
.my-portfolio{
    margin: 0px 50px;
}
.project-tittle p{
    font-size: 16px;
    line-height: 20px;
}
.project-tittle{
    padding-top: 0px;
}
.contact{
    margin: 50px 50px;
}
.foot-menu{
    font-size: 16px;
    gap: 9px;
}
}